<div class="container">
  <div class="row content-margins">
    <div class="col l8 m10 offset-l2 offset-m1 s12 offset-s0">
      <div class="card">
        <div class="card-content center-align">
          <h1>Area Not Serviced</h1>
          <p>Unfortunately, your area is not serviced right now.</p>
          <p>However, check back occasionally as we are working hard to expand to new areas.</p>
          <button class="btn btn-large mt25 mr25 secondary" routerLink="/details/zip-code">BACK</button>
          <button class="btn btn-large mt25" routerLink="/">HOME</button>
        </div>
      </div>
    </div>
  </div>
</div>
