<div style="margin: 40px 0" class="divider"></div>
<p>Help your neighbors find our service by dropping us a review and referring a friend or family member.</p>
<p style="margin-top: 10px;" class="center-align">Write a Review</p>
<div style="margin-top: 10px" class="center-align">
    <a href="https://g.page/HomePainter/review" target="_blank" rel="noopener"><img src="https://thehomepainter.com/assets/images/googleIcon.png" alt="google" style="max-height: 30px;"></a>
    <span style="margin: 0 5px">&nbsp;</span>
    <a href="https://www.facebook.com/hirehomepainter/reviews" target="_blank" rel="noopener"><img src="https://thehomepainter.com/assets/images/facebookIcon.png" alt="facebook" style="max-height: 30px;"></a>
</div>

<p style="margin-top: 20px;" class="center-align">Refer a Friend</p>
<p style="padding: 20px; background-color: whitesmoke; max-width: 60%; margin: 5px auto 0;" class="center-align">promo code <b>{{this.code}}</b></p>
<p style="max-width: 60%; margin: 0 auto; line-height: 1rem;" class="center-align"><small>When a friend enters this promo code, they will get $50 off and you'll get a $50 amazon gift card!</small></p>
<div style="margin: 40px 0" class="divider"></div>
