{{#if this.additionalDetailsComment}}
    <div class="section">
        <h2>Customer Comment</h2>
        <p>{{this.additionalDetailsComment}}</p>
    </div>
{{/if}}

<div class="divider"></div>
<div class="section">
    <h2>Main Details</h2>
    {{>main-details this}}
</div>

{{#if this.interior.length}}
    <hr style="margin-top: 50px">
    <div class="section">
        <h2>Interior Details</h2>
        {{#each this.interior}}
            <div class="section">
                {{>interior this}}
            </div>
        {{/each}}
    </div>
{{/if}}

{{#if this.exterior.length}}
    <hr style="margin-top: 50px">
    <div class="section">
        <h2>Exterior Details</h2>
        {{# each this.exterior}}
            <div class="section">
                {{>exterior this}}
            </div>
        {{/each}}
    </div>
{{/if}}
