<!--<div id="signUpModal" class="modal no-autoinit">-->
<!--  <div class="modal-content">-->
<!--    <div class="row">-->
<!--      <div class="col s10">-->
<!--        <h4>Sign Up</h4>-->
<!--      </div>-->
<!--      <div class="col s2 right-align">-->
<!--        <button class="waves-effect waves-light btn-flat modal-close"><i class="material-icons">close</i></button>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--      <form class="col s12">-->
<!--        <div class="row mb0">-->
<!--          <div class="col offset-xl2 xl8 offset-m1 m10 s12 input-field">-->
<!--            <input id="sign-up-email" type="text" class="validate">-->
<!--            <label for="sign-up-email">Email Address</label>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row mb0">-->
<!--          <div class="col offset-xl2 xl8 offset-m1 m10 s12 input-field">-->
<!--            <input id="first_name" type="text" class="validate">-->
<!--            <label for="first_name">First Name</label>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row mb0">-->
<!--          <div class="col offset-xl2 xl8 offset-m1 m10 s12 input-field">-->
<!--            <input id="last_name" type="text" class="validate">-->
<!--            <label for="last_name">Last Name</label>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row mb0">-->
<!--          <div class="col offset-xl2 xl8 offset-m1 m10 s12 input-field">-->
<!--            <input id="sign-up-password" type="password" class="validate">-->
<!--            <label for="sign-up-password">Create a Password</label>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row mb0">-->
<!--          <div class="col offset-xl2 xl8 offset-m1 m10 s12">-->
<!--            <p>We’ll send you marketing promotions, special offers, inspiration, and policy updates via email.</p>-->
<!--            <p>-->
<!--              <label>-->
<!--                <input type="checkbox" class="filled-in" />-->
<!--                <span>I don’t want to receive marketing messages from homepainter. I can also opt out of receiving emails at a later date.</span>-->
<!--              </label>-->
<!--            </p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--          <div class="col offset-xl2 xl8 offset-m1 m10 s12">-->
<!--            <button class="btn full-width waves-effect waves-light">Sign Up</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--    <hr>-->
<!--    <div class="row">-->
<!--      <div class="col offset-xl2 xl8 offset-m1 m10 s12">-->
<!--        <p>Already have a homepainter account? <a (click)="openLogInModal()">Log in</a></p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
