<div class="wrapper">
  <div class="container">
    <div class="section">
      <div class="row mt25">
        <div class="col s10 offset-s1 offset-m2 m8 offset-l3 l6">
          <!--  Enter Email Form  -->
          <form [formGroup]="requestResetFormGroup" class="card" *ngIf="!showPasswordResetFields">
            <div class="card-content">
              <div class="row">
                <div class="col s10 offset-s1 m10 offset-m1 l8 offset-l2">
                  <div class="section">
                    <h1 class="center-align">Password Reset</h1>
                  </div>
                  <div class="input-field">
                    <input type="email" name="email" id="reset-password-email" formControlName="email"
                           autocomplete="email" [ngClass]="!requestResetFormGroup.disabled && requestResetFormGroup.get('email').touched && requestResetFormGroup.get('email').invalid ? 'invalid' : ''"/>
                    <label for="reset-password-email">Email Address</label>
                    <span class="helper-text red-text"
                          *ngIf="!requestResetFormGroup.disabled && requestResetFormGroup.get('email').touched && requestResetFormGroup.get('email').invalid">Please enter a valid email address</span>
                  </div>
                  <div class="center-align mt20" *ngIf="submitting">
                    <p>Requesting reset...</p>
                    <div class="progress">
                      <div class="indeterminate blue"></div>
                    </div>
                  </div>
                  <div class="section center" *ngIf="!submitting">
                    <button type="submit" (click)="requestPasswordReset()" class="btn full-width waves-effect waves-light"
                            [ngClass]="requestResetFormGroup.disabled ? 'disabled' : ''">
                      {{requestResetFormGroup.disabled ? 'Reset Link Sent' : 'Send Reset Link'}}
                    </button>
                  </div>
                  <div class="mt15 center">
                    <!--                    <a routerLink="/forgot-email" class="blue-text mr15 underline-text">Forgot Email</a>-->
                    <a routerLink="/login" class="blue-text underline-text">Return to Login</a>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <!--  Reset Password Form  -->
          <form [formGroup]="resetFormGroup" class="card" *ngIf="showPasswordResetFields">
            <div class="card-content">
              <div class="row">
                <div class="col s10 offset-s1 m10 offset-m1 l8 offset-l2">
                  <div class="section">
                    <h1 class="center-align">Password Reset</h1>
                  </div>
                  <div class="input-field">
                    <input id="password" type="password" formControlName="password" autocomplete="new-password"
                           [ngClass]="getClass('password')"/>
                    <label for="password">New Password</label>
                    <span class="helper-text red-text"
                          *ngIf="!resetFormGroup.disabled && resetFormGroup.get('password').touched && resetFormGroup.get('password').value.length >= 8 && resetFormGroup.get('password').invalid">
                      Password should contain one lowercase character, one uppercase character, one number, and one special character (!, #, $, etc.).
                    </span>
                    <span class="helper-text red-text"
                          *ngIf="!resetFormGroup.disabled && resetFormGroup.get('password').touched && resetFormGroup.get('password').value.length < 8">
                      Password must be at least eight characters long.
                    </span>
                  </div>
                  <div class="input-field">
                    <input id="confirmationPassword" type="password" formControlName="confirmationPassword"
                           autocomplete="new-password" [ngClass]="getClass('confirmationPassword')"/>
                    <label for="confirmationPassword">Confirm Password</label>
                    <span class="helper-text red-text"
                          *ngIf="!resetFormGroup.disabled && resetFormGroup.get('confirmationPassword').touched && resetFormGroup.get('confirmationPassword').value.length >= 8 && resetFormGroup.get('confirmationPassword').invalid">
                      Confirmation Password should contain one lowercase character, one uppercase character, one number, and one special character (!, #, $, etc.).
                    </span>
                    <span class="helper-text red-text"
                          *ngIf="!resetFormGroup.disabled && resetFormGroup.get('confirmationPassword').touched && resetFormGroup.get('confirmationPassword').value.length < 8">
                      Confirmation Password must be at least eight characters long.
                    </span>
                    <span class="helper-text red-text"
                          *ngIf="!resetFormGroup.disabled && resetFormGroup.get('confirmationPassword').touched && resetFormGroup.get('confirmationPassword').valid && resetFormGroup.get('confirmationPassword').value !== resetFormGroup.get('password').value">Passwords do not match</span>
                  </div>
                  <div>
                    <p>Password Strength</p>
                    <password-strength-meter [password]="resetFormGroup.get('password').value"></password-strength-meter>
                  </div>
                  <div class="center-align mt20" *ngIf="resetFormGroup.disabled">
                    <p>We are resetting your password and signing you in.</p>
                    <div class="progress">
                      <div class="indeterminate blue"></div>
                    </div>
                  </div>
                  <div class="section center">
                    <button type="submit" (click)="resetPassword()" class="btn full-width waves-effect waves-light"
                            [ngClass]="(resetFormGroup.disabled || resetFormGroup.invalid || resetFormGroup.get('confirmationPassword').value !== resetFormGroup.get('password').value) ? 'disabled' : ''">
                      Reset Password
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="invalidInputs" class="banner">
  <div class="banner-content">
    <div class="icon white-text homepainter-orange circle">
      <i class="material-icons">error_outline</i>
    </div>
    <p *ngIf="!showPasswordResetFields">The email you entered is invalid.</p>
    <p *ngIf="showPasswordResetFields">The passwords should match.</p>
  </div>
  <div class="banner-action">
    <button class="btn-flat banner-close">dismiss</button>
  </div>
</div>
<div id="checkEmail" class="banner">
  <div class="banner-content">
    <div class="icon white-text blue circle">
      <i class="material-icons">check</i>
    </div>
    <p>You should receive an email containing a unique link to reset your password. It will expire in 30 minutes.</p>
  </div>
  <div class="banner-action">
    <button class="btn-flat banner-close">dismiss</button>
  </div>
</div>
<div id="resp401" class="banner">
  <div class="banner-content">
    <div class="icon white-text homepainter-orange circle">
      <i class="material-icons">error_outline</i>
    </div>
    <p>We received your request, but we did not make any changes. This may be due to an expired reset code or a
      different error. You can try again or restart the reset password sequence if you think there was an error.</p>
  </div>
  <div class="banner-action">
    <button class="btn-flat banner-close">dismiss</button>
  </div>
</div>
<div id="resp500" class="banner">
  <div class="banner-content">
    <div class="icon white-text homepainter-orange circle">
      <i class="material-icons">error_outline</i>
    </div>
    <p>Oops, there was a problem!<br>Please email us at support@thehomepainter.com or refresh the page and try again.</p>
  </div>
  <div class="banner-action">
    <button class="btn-flat banner-close">dismiss</button>
    <a href="mailto:support@thehomepainter.com">
      <button class="btn-flat">Send Email</button>
    </a>
  </div>
</div>
