<div class="container">
  <div class="row">
    <div class="col offset-l2 l8 s12">
      <div class="card content-margins">
        <div class="card-content">
          <h1 class="center">Page not found!</h1>
          <p class="center">We're sorry, but the page you are trying to look for does not exist.</p>
          <p class="center">If you feel you reached this page by error, please contact us at <a href='mailto:support@thehomepainter.com'>support@thehomepainter.com</a></p>
          <div class="center mt25">
            <button class="btn blue white-text waves-effect waves-light" routerLink="/">HOME</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
