<i class="material-icons goldenrod-text" [ngClass]="size ? size : 'tiny'" *ngIf="value < 0.5">star_outline</i>
<i class="material-icons goldenrod-text" [ngClass]="size ? size : 'tiny'" *ngIf="value >= 0.5 && value < 1">star_half</i>
<i class="material-icons goldenrod-text" [ngClass]="size ? size : 'tiny'" *ngIf="value >= 1">star</i>

<i class="material-icons goldenrod-text" [ngClass]="size ? size : 'tiny'" *ngIf="value < 1.5">star_outline</i>
<i class="material-icons goldenrod-text" [ngClass]="size ? size : 'tiny'" *ngIf="value >= 1.5 && value < 2">star_half</i>
<i class="material-icons goldenrod-text" [ngClass]="size ? size : 'tiny'" *ngIf="value >= 2">star</i>

<i class="material-icons goldenrod-text" [ngClass]="size ? size : 'tiny'" *ngIf="value < 2.5">star_outline</i>
<i class="material-icons goldenrod-text" [ngClass]="size ? size : 'tiny'" *ngIf="value >= 2.5 && value < 3">star_half</i>
<i class="material-icons goldenrod-text" [ngClass]="size ? size : 'tiny'" *ngIf="value >= 3">star</i>

<i class="material-icons goldenrod-text" [ngClass]="size ? size : 'tiny'" *ngIf="value < 3.5">star_outline</i>
<i class="material-icons goldenrod-text" [ngClass]="size ? size : 'tiny'" *ngIf="value >= 3.5 && value < 4">star_half</i>
<i class="material-icons goldenrod-text" [ngClass]="size ? size : 'tiny'" *ngIf="value >= 4">star</i>

<i class="material-icons goldenrod-text" [ngClass]="size ? size : 'tiny'" *ngIf="value < 4.5">star_outline</i>
<i class="material-icons goldenrod-text" [ngClass]="size ? size : 'tiny'" *ngIf="value >= 4.5 && value < 5">star_half</i>
<i class="material-icons goldenrod-text" [ngClass]="size ? size : 'tiny'" *ngIf="value >= 5">star</i>
