<!-- Jumbo header mobile-->
<div class="section home-background-image desktop-jumbo-header-height pt50 pb50">
  <div class="container pl15 pr15 hide-on-med-and-up">
    <div class="row mb0">
      <h1 class="m-jumbo header-text black-text mt25 hide-on-med-and-up">{{duplicatedHeaderText}}</h1>
      <div class="col s12 offset-m1 m10">
        <form class="row mt20 mobile-inputs" [formGroup]="getStartedFormGroup" (submit)="onGetStartedSubmit()">
          <div class="input-wrapper input-field">
            <select formControlName="projectType">
              <option value="" disabled selected>What type of project is it?</option>
              <option value="interior">Interior Painting</option>
              <option value="exterior">Exterior Painting</option>
              <option value="deck">Deck Painting/Staining</option>
            </select>
          </div>
          <div class="input-wrapper input-field"  style="position: relative;">
            <input id="zip-code-mobile" type="number" class="placeHolder" placeholder="Zip Code" formControlName="zipCode"/>
            <img src="../../../assets/images/home/location-icon.png" class="input_img">
          </div>
          <div class="col s12 mt10">
            <button class="btn full-width btn-font pt5 pb5 blue white-text waves-effect waves-light" style="height: auto" type="submit">
              FIND PAINTERS
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="row mb0 hide-on-med-and-up">
      <div class="col s12 center">
        <p class="mb0 blue-text fontchange">
          31 qualified painters near you</p>
      </div>
    </div>
  </div>
</div>
<!-- Jumbo Header desktop -->
<div class="hide-on-small-only">
  <div class="section container desktop-header-padding desktop-form-margin-top hide-on-small-only">
    <div class="row mb0">
      <h1 class="m-jumbo header-text black-text mt25">{{duplicatedHeaderText}}</h1>
    </div>
  </div>
  <div class="header-form-width m10 radius_pad white desktop-form-padding">
    <form class="row mt20 homepage-inputs" [formGroup]="getStartedFormGroup" (submit)="onGetStartedSubmit()">
      <div class="col s6">
        <div class="border-right">
          <p class="mb0 p_font">Project Type</p>
          <select formControlName="projectType">
            <option value="" disabled selected>What type of project is it?</option>
            <option value="interior" selected>Interior Painting</option>
            <option value="exterior">Exterior Painting</option>
            <option value="deck">Deck Painting/Staining</option>
          </select>
        </div>
      </div>
      <div class="col s4">
        <div class="border-right" style="position: relative;">
          <p class="mb0 p_font" id="zip-code-desktop-label">Location</p>
          <input class="browser-default" class="placeHolder" id="zip-code-desktop" type="number" placeholder="Zip Code" autocomplete="postal-code" formControlName="zipCode"/>
          <img src="../../../assets/images/home/location-icon.png" class="input_img">
        </div>
      </div>
      <div class="col s2 mt25">
        <button class="btn full-width btn-font pt5 pb5 blue white-text waves-effect waves-light" style="height: auto" type="submit">
          <i class="material-icons white-text pl25 pr25" style="font-size: 34px;">search</i>
        </button>
      </div>
    </form>
  </div>
  <div class="row mb0 hide-on-small-only">
    <div class="col s12 center">
      <p class="mb0 fontchange">
        <button class="btn width-40px btn-font pt5 pb5 blue white-text waves-effect waves-light" style="height: auto">3
        </button>
        <button class="btn width-40px btn-font pt5 pb5 blue white-text waves-effect waves-light ml10 mr10" style="height: auto">1
        </button>
        Painters near you</p>
    </div>
  </div>
</div>
<!-- Why homepainter -->
<div class="show-on-extra-large hide-on-med-and-up hide-on-med-and-down mt25 mb25"></div>
<div class="section container pl15 pr15 mg200">
  <div class="row">
    <div class="col s12 offset-m1 m10 offset-l1 l10">
      <p class="center" style="margin-top: 42px">An online marketplace for painting</p>
      <h1 class="mt0 center max-width-headers">Making your paint project as easy as checking out online</h1>
    </div>
  </div>
  <div class="row">
    <div class="col s12 offset-l1 l10">
      <div class="row mb0">
        <div class="col s12 l4">
          <div class="row mb0 value-prop-wrapper">
            <div class="col s3 offset-m1 m2 l12 mb10">
              <picture>
                <source data-srcset="/assets/images/custom-icons/time-savings.webp" type="image/webp">
                <source data-srcset="/assets/images/custom-icons/time-savings.png" type="image/png">
                <img data-src="/assets/images/custom-icons/time-savings.png" class="responsive-img lazyload width-48x48" alt="Time Savings Image">
              </picture>
            </div>
            <div class="col s9 l12">
              <h2 class="mt0">Over-the-air Quotes</h2>
              <p>Get accurate and final quotes all online. No in-person estimates necessary.</p>
            </div>
          </div>
        </div>
        <div class="col s12 l4">
          <div class="row mb0 value-prop-wrapper">
            <div class="col s3 offset-m1 m2 l12 mb10">
              <picture>
                <source data-srcset="/assets/images/custom-icons/qualified-pros.webp" type="image/webp">
                <source data-srcset="/assets/images/custom-icons/qualified-pros.png" type="image/png">
                <img data-src="/assets/images/custom-icons/qualified-pros.png" class="responsive-img lazyload width-48x48" alt="Qualified Pros Image">
              </picture>
            </div>
            <div class="col s9 l12">
              <h2 class="mt0">Qualified Pros</h2>
              <p>Find the perfect professional to tackle your project. We verify quality, insurance, and licenses for you.</p>
            </div>
          </div>
        </div>
        <div class="col s12 l4">
          <div class="row mb0 value-prop-wrapper">
            <div class="col s3 offset-m1 m2 l12 mb10">
              <picture>
                <source data-srcset="/assets/images/custom-icons/project-support.webp" type="image/webp">
                <source data-srcset="/assets/images/custom-icons/project-support.png" type="image/png">
                <img data-src="/assets/images/custom-icons/project-support.png" class="responsive-img lazyload width-48x48" alt="Project Support Image">
              </picture>
            </div>
            <div class="col s9 l12">
              <h2 class="mt0">Project Support</h2>
              <p>Don’t go at it alone. Your local homepainter rep is available to help and answer questions anytime.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Local Painters -->
<div class="section pl15 pr15">
  <div class="row container">
    <div class="col s12 offset-m1 m10 offset-l2 l8 center">
      <h1 class="max-width-headers">Find prequalified painters perfect for your project</h1>
    </div>
  </div>
  <div class="row">
    <div class="col s12 offset-m1 m10">
      <div class="row overflow-painters">
        <div class="col s6 m4 l3" *ngFor="let contractor of contractorExamples">
          <a [routerLink]="'/u/' + contractor._id" [target]="responsiveService.isDesktop() ? '_blank' : '_self'">
            <div class="card transparent z-depth-0">
              <div class="card-image grey lighten-3 card-image-heights valign-wrapper">
                <img class="responsive-img lazyload" [attr.data-src]="contractor.picture">
              </div>
              <div class="card-content pt0 pb0 pl5 pr5">
                <p class="truncate"><b>{{contractor.organizationName}}</b></p>
                <p class="truncate" style="font-size: 14px">{{contractor.address.city}}, {{contractor.address.state}}</p>
                <p>
                  <app-star-rating [value]="contractor.rating"></app-star-rating> {{contractor.ratingCount}}
                  <span class="mr5"></span>
                  <span class="chip small blue white-text" *ngIf="contractor.ratingCount > 0"><i class="material-icons left">favorite</i>TOP PAINTER</span>
                  <span class="chip small green white-text" *ngIf="contractor.ratingCount === 0">NEW PAINTER</span>
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="center">
      <a routerLink="/project/explore-painters" class="btn-flat blue-text underline-text pl0" style="text-transform: none; font-size: 20px">View all painters <i class="material-icons right">arrow_forward</i></a>
  </div>
</div>

<!-- Why homepainter -->
<div class="show-on-extra-large hide-on-med-and-up hide-on-med-and-down mt25 mb25"></div>
<div class="section container pl15 pr15">
  <div class="row">
    <div class="col s12 offset-m1 m10 offset-l1 l10">
      <p class="center" style="margin-top: 42px">Save time with online quotes</p>
      <h1 class="mt0 center max-width-headers">The fastest and easiest way to hire painters</h1>
    </div>
  </div>
  <div class="row">
    <div class="col s12 offset-l1 l10">
      <div class="row mb0">
        <div class="col s12 l4">
          <div class="row mb0 value-prop-wrapper">
            <div class="col s3 offset-m1 m2 l12 mb10">
              <picture>
                <source data-srcset="/assets/images/custom-icons/enter-details.webp" type="image/webp">
                <source data-srcset="/assets/images/custom-icons/enter-details.png" type="image/png">
                <img data-src="/assets/images/custom-icons/enter-details.png" class="responsive-img lazyload width-48x48" alt="enter-details Image">
              </picture>
            </div>
            <div class="col s9 l12">
              <h2 class="mt0">Explore Painters</h2>
              <p>Discover the best, local professionals near you.</p>
            </div>
          </div>
        </div>
        <div class="col s12 l4">
          <div class="row mb0 value-prop-wrapper">
            <div class="col s3 offset-m1 m2 l12 mb10">
              <picture>
                <source data-srcset="/assets/images/custom-icons/upload-photos.webp" type="image/webp">
                <source data-srcset="/assets/images/custom-icons/upload-photos.png" type="image/png">
                <img data-src="/assets/images/custom-icons/upload-photos.png" class="responsive-img lazyload width-48x48" alt="upload Image">
              </picture>
            </div>
            <div class="col s9 l12">
              <h2 class="mt0">Create a Project</h2>
              <p>Answer questions and upload photos of your project.</p>
            </div>
          </div>
        </div>
        <div class="col s12 l4">
          <div class="row mb0 value-prop-wrapper">
            <div class="col s3 offset-m1 m2 l12 mb10">
              <picture>
                <source data-srcset="/assets/images/custom-icons/review-quotes.webp" type="image/webp">
                <source data-srcset="/assets/images/custom-icons/review-quotes.png" type="image/png">
                <img data-src="/assets/images/custom-icons/review-quotes.png" class="responsive-img lazyload width-48x48" alt="Project Support Image">
              </picture>
            </div>
            <div class="col s9 l12">
              <h2 class="mt0">Review Quotes</h2>
              <p>Review your proposals and book online.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- FAQ -->
<div class="section container pl15 pr15">
  <div class="row">
    <div class="col s12 offset-l1 l4">
      <div class="row">
        <div class="col s12 offset-m1 m10 l12">
          <h1 class="faq-title-margins center">Frequently Asked Questions</h1>
        </div>
      </div>
    </div>
    <div class="col s12 offset-l1 l5">
      <div class="row">
        <div class="hide-on-med-and-down" style="margin-top: 27px"></div>
        <div class="col s12 offset-m1 m10">
          <ul class="collapsible expandable z-depth-0 no-border no-padding">
            <li [id]="'li' + i" *ngFor="let item of faqItems; index as i">
              <div class="collapsible-header no-border pl0 pr0 faq-question-container">
                <i class="material-icons">{{item.open ? 'remove' : 'add'}}</i><p class="mt0 mb0 faq-question-text">{{item.q}}</p>
              </div>
              <div class="collapsible-body pl20 pr20"><p class="mt0 mb0">{{item.a}}</p></div>
            </li>
            <!-- <li>
              <div style="margin-left: 39px;">
                <a href="/blog/faqs/" target="_blank" class="btn-flat blue-text underline-text pl0" style="text-transform: none; font-size: 20px">More FAQ's <i class="material-icons right">arrow_forward</i></a>
              </div>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
    <div class="center" style="margin-left: 39px;">
      <a href="/blog/faqs/" target="_blank" class="btn-flat black-text underline-text pl0" style="text-transform: none; font-size: 20px">More FAQ's <i class="material-icons right">arrow_forward</i></a>
    </div>
  </div>
</div>
<!-- Blog -->
<div class="section container pl15 pr15">
  <div class="row">
    <div class="col s12 offset-m1 m10">
      <h1>Featured homepainter blog articles</h1>
    </div>
  </div>
  <div class="row">
    <div class="col s12 offset-m1 m10">
      <div class="row mb0">
        <div class="col s12 m6 xl4" *ngFor="let blogPost of blogPosts">
          <a [href]="blogPost.url" target="_blank">
            <div class="card medium z-depth-2 hoverable blog-card">
              <div class="card-image" style="height: 220px; overflow: hidden;">
                <img class="lazyload" style="width: 100%; height: 100%; object-fit: cover" [attr.data-src]="blogPost.feature_image">
              </div>
              <a [href]="blogPost.primary_author.url" target="_blank">
                <img class="blog-writer-image tooltipped hoverable lazyload" data-position="top"
                     [attr.data-tooltip]="'Posted by ' + blogPost.primary_author.name"
                     [attr.data-src]="blogPost.primary_author.profile_image">
              </a>
              <div class="card-content">
                <a [href]="blogPost.primary_tag.url" target="_blank"><span class="card-title blue-text">{{blogPost.primary_tag.name}}</span></a>
                <p class="pl10 pr10">{{blogPost.title}}</p>
              </div>
              <div class="card-action no-border">
                <p class="mar0"><small>{{blogPost.updated_at | date:'mediumDate'}} • {{blogPost.reading_time}} min read</small></p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 offset-m1 m10 center">
      <a href="/blog/" target="_blank" class="btn-flat blue-text underline-text pl0" style="text-transform: none; font-size: 20px">More from our blog <i class="material-icons right">arrow_forward</i></a>
    </div>
  </div>
</div>
