<h1>Your account has been approved!</h1>

<p>We're so glad to have you on our team! We have created a unique code for you.</p>
<br>
<p>Ask your clients to enter this code on checkout to receive waived service fees! <b>{{this.promoCode.code}}</b>.</p>
<br>
<p>Thank you for working with homepainter. You can now log into your account and start projects.</p>
