<h1>Hi {{storageName2DisplayName this.customer.firstName}},</h1>

<p>Thank you for filling out our agent sign up form! We have received your information and will be reaching out to
    you soon! In the meantime, feel free to start requesting projects for your clients.</p>
