<h1>Congratulations! You have been approved to work with homepainter.</h1>

<p>Use the following link to sign in and set up your account and profile settings. </p>

<div class="center">
    <a href="{{url}}/complete-setup">
        <button class="btn">Complete Setup</button>
    </a>
</div>
