<div class="section">
    <h1>You have been hired!</h1>
    <p>Please reach out to the customer to schedule your project. When a date has been set, enter it on our website to
        receive your down payment. All details for the job are provided below.</p>

    <div class="center-align">
        <a href="{{url}}/project-schedule/{{order._id}}">
        <button class="btn">Enter project schedule</button>
        </a>
    </div>
</div>
<hr>

{{>full-details this}}
