<h1>New Contractor Application</h1>

<p><b>Contact: </b>{{this.contractor.firstName}} {{this.contractor.lastName}}</p>
<p><b>Email: </b>{{this.contractor.email.address}}</p>
<p><b>Phone: </b>{{this.contractor.mobile.number}}</p>