<h1>Your project with {{storageName2DisplayName this.customer.firstName}} starts tomorrow.</h1>

<p>To ensure a smooth project, please follow up with them on arrival time and make sure you have all the material
    information needed.</p>

{{>full-details this}}
