<h1>Homepainter was unable to approve your application</h1>
<p>We greatly appreciate your interest in working with us. At this time, your registration application has been
    denied. This can occur for a number of reasons.</p>

<ul>
    <li>Unable to pass the criminal background check.</li>
    <li>Unable to pass a quality assessment.</li>
    <li>Homepainter is not registering contractors in your area at this time.</li>
</ul>

<p>Please feel reach out to our customer service team for more information.</p>
<br>
<p>Respectfully,</p>
