<h1>Your paint project is just a few clicks away</h1>
<p>You can use the following link to go back to your project. If you have any questions, you can respond to this email to start a discussion with your local homepainter representative.  Your project will expire in 1 week.</p>
<br>
<div class="center">
    <a href="{{url}}/project/details?projectId={{this.project._id}}">
    <button class="btn">Return to Project</button>
    </a>
</div>
