<h1>Let us know how we did</h1>

<p>Provide feedback on your experience to help us improve and for a chance to receive a $25 Amazon Gift card!</p>

<div class="center">
    <a href="{{url}}/customer-complete/{{this.order._id}}">
    <button class="btn">Provide Feedback</button>
    </a>
</div>
