<h1>Your project has expired</h1>
<p>Thank you for considering homepainter, the easiest way to complete your paint project.</p>
<br>
<p>Use the link to provide feedback for the chance to win a $25 Amazon Gift Card.</p>
<div class="center">
    <a href="{{url}}/customer-abandoned-project-feedback">
        <button class="btn">Leave feedback</button>
    </a>
</div>
