<h1>Your project is complete!</h1>
<p>{{this.contractor.organizationName}} has marked your project as done. Please confirm that your job is complete.
    You will have 24 hours to contact your painter and request any touch-ups.</p>

<div class="center">
    <a href="{{url}}/customer-complete/{{this.order._id}}">
    <button class="btn">Mark my project complete</button>
    </a>
</div>

<p class="center-align">Give us a 5 star rating!</p>
<div class="rating center-align">
<img src="https://thehomepainter.com/assets/images/star.png" alt="1 star" style="max-height: 30px;">
<img src="https://thehomepainter.com/assets/images/star.png" alt="2 star" style="max-height: 30px;">
<img src="https://thehomepainter.com/assets/images/star.png" alt="3 star" style="max-height: 30px;">
<img src="https://thehomepainter.com/assets/images/star.png" alt="4 star" style="max-height: 30px;">
<img src="https://thehomepainter.com/assets/images/star.png" alt="5 star" style="max-height: 30px;">
</div>

<br>

<div style="margin-top: 10px" class="center-align">
    <a href="https://g.page/HomePainter/review" target="_blank" rel="noopener"><img src="https://thehomepainter.com/assets/images/googleIcon.png" alt="google" style="max-height: 30px;"></a>
    <span style="margin: 0 5px">&nbsp;</span>
    <a href="https://www.facebook.com/hirehomepainter/reviews" target="_blank" rel="noopener"><img src="https://thehomepainter.com/assets/images/facebookIcon.png" alt="facebook" style="max-height: 30px;"></a>
</div>

