<h1>Get Ready!</h1>

<p>Tomorrow is the big day to transform your home! Here are some tips to help your project go smoothly</p>

<table>
    <tbody>
    <tr>
        <td style="width: 125px;"><img class="responsive-img" style="padding: 0 30px; max-width: 100px;" src="https://thehomepainter.com/assets/images/couch.png"></td>
        <td><p>Remove pictures and valuables from walls and place furniture in the center of the room to the best of your ability</p></td>
    </tr>
    <tr>
        <td style="width: 125px;"><img class="responsive-img" style="padding: 0 30px; max-width: 100px;" src="https://thehomepainter.com/assets/images/dog.png"></td>
        <td><p>Make appropriate accommodation for pets</p></td>
    </tr>
    <tr>
        <td style="width: 125px;"><img class="responsive-img" style="padding: 0 30px; max-width: 100px;" src="https://thehomepainter.com/assets/images/chat.png"></td>
        <td><p>Follow up with your contractor and know when they will be arriving</p></td>
    </tr>
    </tbody>
</table>
