<h1>Link to your project</h1>

<p>{{storageName2DisplayName this.customer.firstName}},</p>
<br>
<p>Here is a link to access your project.</p>
<div class="center">
    <a href="{{url}}/project/details?projectId={{this.project._id}}">
    <button class="btn">Return to Project</button>
    </a>
</div>
