<h1>A paint job has been declined by all painters</h1>

<p class="center">####### System Info Dump #######</p>
<hr style="margin: 40px 0">
<p>{{storageName2DisplayName this.customer.firstName}} {{storageName2DisplayName this.customer.lastName}}</p>
<a href="mailto:{{this.customer.email.address}}">{{this.customer.email.address}}</a>

{{>project-details this.project.details}}
