<h1>Hi {{storageName2DisplayName  this.user.firstName}},</h1>
<p>There was a successful login into your homepainter account just now.</p>
<br/>
<p>If this wasn't you, please get in touch with us:</p>
<ul class="browser-default">
    <li><a href="mailto:support@thehomepainter.com">support@thehomepainter.com</a></li>
    <li><a href="{{url}}/contact-us">contact us</a></li>
</ul>
