<h1>Hi {{storageName2DisplayName  this.user.firstName}},</h1>
<p>Your password has been changed</p>
<br/>
<p>If this was not you, please reach out to our support team.</p>
<ul class="browser-default">
    <li><a href="mailto:support@thehomepainter.com">support@thehomepainter.com</a></li>
    <li><a href="{{url}}/contact-us">contact us</a></li>
</ul>
