<h1>Hi {{storageName2DisplayName this.user.firstName}},</h1>
<br>
<p>There have been multiple unsuccessful login attempts into your account. As a result, your account has been locked
    temporarily.</p>
<p>We're trying our best to verify the login attempts and get you access to your account.</p>
<br/>
<p><b>What can you do to help?</b></p>
<p>Get in touch with homepainter directly.</p>
<ul>
    <li><a href="mailto:support@thehomepainter.com">support@thehomepainter.com</a></li>
    <li><a href="{{url}}/contact-us">contact us</a></li>
</ul>
