<h1>Hi {{storageName2DisplayName this.user.firstName}},</h1>
<br/>
<p>We received a password reset request for your account.</p>
<br/>
<p>To update your password, click the button below. This link that will expire in 30 minutes.</p>
<div class="center">
    <a href="{{url}}/forgot-password?email={{this.user.email.address}}&token={{this.authKey.key}}">
    <button class="btn">Reset Password</button>
    </a>
</div>
<p>If this was not you, please disregard this email.</p>
<p>Thank you,</p>
