<h1>Hello,</h1>
<br>
<p>We noticed you tried to reset your password, but you do not have an account with this email address. If this wasn't
    you, disregard this email. If you would like to sign up with homepainter, use the links below.</p>
<div class="center-align">
    <a href="{{url}}/become-a-pro">
        <button class="btn" style="margin-bottom: 20px !important">Register as a contractor</button>
    </a>
    <a href="{{url}}/become-an-agent">
        <button class="btn" style="margin-top: 0 !important">Register as an agent</button>
    </a>
</div>
<p> If you need to need to contact us, visit our <a href="{{url}}/contact-us">Contact Form</a> or email us at <a
        href="mailto:support@thehomepainter.com">support@thehomepainter.com</a></p>
